<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <nav id="header-nav">
        <!-- 显示出的nav -->
        <div id="header_topFrame">
            <h1 id="logo"><img src="images/logo.png"  alt=""></h1>
            <ul>
                <!-- <li></li> -->
                <li id="hearder_searchFrame"><span>&#xe725;</span><span>666-4512-123</span><input value="请输入搜索内容" id="header_search" onfocus="this.value=''" ></li>
                <li id="header_searchIcon">&#xe6ac;</li>
                <li>&#xe6b8; 	<%= session.user%>  </li>
                
            </ul>
        </div>
        <!-- 隐藏在下面的nav -->
        <div id="header_hiddenFrame">
            <ul id="header_menu">
                <li>首页</li>
                <li>键盘专区</li>
                <li>鼠标专区</li>
                <li>键帽专区</li>
                <li>耳机专区</li>
                <li>音响专区</li>
                <li>键盘定制</li>
                <li>客户产品展示</li>
                <li>Toxic社区</li>
            </ul>
        </div>
    </nav>
</body>
<script src="js/jquery-1.11.3.js"></script>
<script src="js/header.js"></script>
<!-- <script src="js/less.min.js"></script> -->
</html>