<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet/less" href="less/cpfl.less">
    <link rel="stylesheet" href="css/cpfl.css">




</head>
<%-include header.html%>
<header>
    <!--video 播放-->
    <div id="lh_videodiv">
        <video controls="controls" loop="loop" autoplay="autoplay" >
            <source src="video/craft.mp4" type="video/ogg">
            <source src="video/craft.mp4" type="video/mp4">
            your browser does not support the video tag.
        </video>
    </div>
        <!--按钮的切换商品详情-->
    <div id="lh_daohang">
        <div class="lh_fontdiv">
        <div ><img src="images/fenlei/u1813.png" class="lh_font"/>
            <h3>最新</h3>
        </div>
    </div>

        <div class="lh_fontdiv">
        <div><img src="images/fenlei/u1818.png"  class="lh_font"/>
        <h3>键盘</h3>
        </div>
    </div>

        <div class="lh_fontdiv">
        <div><img src="images/fenlei/u1823.png"  class="lh_font"/>
        <h3>鼠标</h3>
        </div>
    </div>
        <div class="lh_fontdiv">
        <div><img src="images/fenlei/u1828.png"  class="lh_font"/></div>
            <h3>键帽</h3>
        </div>

        <div class="lh_fontdiv">
        <div><img src="images/fenlei/u1833.png"  class="lh_font"/></div>
            <h3>耳机</h3>
        </div>

        <div class="lh_fontdiv">
        <div><img src="images/fenlei/stereo.png" class="lh_font"/></div>
            <h3>音响</h3>
        </div>

        <div class="lh_fontdiv">
        <div><img src="images/fenlei/u1848.png" class="lh_font"/></div>
            <h3>更多</h3>
        </div>

    </div>
</header>
<!--商品内容-->
<section>

    <!--热卖商品内容-->
    <div class="lh_bankuai showclass">
        <div class="lh_xiankuang">
            <h3>热卖商品</h3>
            <div class="lh_xian"></div>

        </div>
        <div class="lh_dabox">

        <div class="lh_box">
            <div class="lh_jianpan"><img src="images/pruduct/keybord/Cherry樱桃 MX 8.0电竞RGB背光游戏87键机械键盘/1.jpeg"
                                         height="460" width="800"/></div>
            <div class="lh_jiantxet">
                <h2>Cherry樱桃 MX 8.0</h2>
                <p>德国原厂Cherry MX RGB技术的机械式轴体，<br> 轻松实现1670万种绚丽色彩</p>
                <h3>￥900</h3>
                <div class="lh_goumai"><a href="#" >立即购买</a></div>
                <div><span class="lh_fontSC">&#xe795;</span></div>
            </div>
        </div>
        <div class="lh_box">
            <div class="lh_jianpan"><img src="images/pruduct/keybord/Cherry樱桃 MX 8.0电竞RGB背光游戏87键机械键盘/1.jpeg"
                                         height="460" width="800"/></div>
            <div class="lh_jiantxet">
                <h2>Cherry樱桃 MX 8.0电竞</h2>
                <p>德国原厂Cherry MX RGB技术的机械式轴体，<br> 轻松实现1670万种绚丽色彩</p>
                <h3>￥900</h3>
                <div class="lh_goumai"><a href="#" >立即购买</a></div>
                <div><span class="lh_fontSC">&#xe795;</span></div>

            </div>
        </div>

    </div>
        <div class="lh_zhanshi">

                <!--<ul>-->
                    <!--<li><img src="images/pruduct/earphone/5/1.jpg" height="210" width="210"/></li>-->
                    <!--<li class="lh_erjiJG">￥569</li>-->
                    <!--<li class="lh_erjiXH">型号:G15Pro</li>-->
                    <!--<li class="lh_erjiGM"><a href="">立即购买</a></li>-->
                    <!--<li class="lh_shouchang">&#xe795;</li>-->
                <!--</ul>-->


        </div>
    </div>
    <!--键盘专区-->
    <div class="lh_bankuai">
    <div class="lh_jPzhuanqu">
        <div class="lh_xiankuang">
            <h3>键盘专区</h3>
            <div class="lh_xian"></div>

        </div>

    </div>
    <div class="lh_zhanshi">
            <!--<ul>-->
                <!--<li><img src="images/pruduct/earphone/5/1.jpg" height="210" width="210"/></li>-->
                <!--<li class="lh_erjiJG">￥569</li>-->
                <!--<li class="lh_erjiXH">型号:G15Pro</li>-->
                <!--<li class="lh_erjiGM"><a href="">立即购买</a></li>-->
                <!--<li class="lh_shouchang">&#xe795;</li>-->
            <!--</ul>-->
    </div>
    </div>
    <!--鼠标专区-->
    <div class="lh_bankuai">
    <div class="lh_jPzhuanqu">
        <div class="lh_xiankuang">
            <h3>鼠标专区</h3>
            <div class="lh_xian"></div>

        </div>

    </div>
    <div class="lh_zhanshi">
        <div class="lh_ulHuan">
            <!--<ul>-->
                <!--<li><img src="images/pruduct/earphone/5/1.jpg" height="210" width="210"/></li>                <li class="lh_erjiJG">￥569</li>-->
                <!--<li class="lh_erjiXH">型号:G15Pro</li>-->
                <!--<li class="lh_erjiGM"><a href="">立即购买</a></li>-->
                <!--<li class="lh_shouchang">&#xe795;</li>-->
            <!--</ul>-->
        </div>
    </div>
    </div>
    <!--键帽专区-->
    <div class="lh_bankuai">
    <div class="lh_jPzhuanqu">
        <div class="lh_xiankuang">
            <h3>键帽专区</h3>
            <div class="lh_xian"></div>
        </div>

    </div>
    <div class="lh_zhanshi">
        <div class="lh_ulHuan">
            <!--<ul>-->
                <!--<li><img src="images/pruduct/earphone/5/1.jpg" height="210" width="210"/></li>-->
                <!--<li class="lh_erjiJG">￥569</li>-->
                <!--<li class="lh_erjiXH">型号:G15Pro</li>-->
                <!--<li class="lh_erjiGM"><a href="">立即购买</a></li>-->
                <!--<li class="lh_shouchang">&#xe795;</li>-->
            <!--</ul>-->
        </div>
    </div>
    </div>
    <!--耳机专区-->
    <div class="lh_bankuai">
    <div class="lh_jPzhuanqu">
        <div class="lh_xiankuang">
            <h3>耳机专区</h3>
            <div class="lh_xian"></div>

        </div>

    </div>
    <div class="lh_zhanshi">
        <div class="lh_ulHuan">
            <!--<ul>-->
                <!--<li><img src="images/pruduct/earphone/5/1.jpg" height="210" width="210"/></li>-->
                <!--<li class="lh_erjiJG">￥569</li>-->
                <!--<li class="lh_erjiXH">型号:G15Pro</li>-->
                <!--<li class="lh_erjiGM"><a href="">立即购买</a></li>-->
                <!--<li class="lh_shouchang">&#xe795;</li>-->

            <!--</ul>-->
        </div>
    </div>
    </div>
    <!--音响专区-->
    <div class="lh_bankuai">
    <div class="lh_jPzhuanqu">
        <div class="lh_xiankuang">
            <h3>音响专区</h3>
            <div class="lh_xian"></div>

        </div>

    </div>
    <div class="lh_zhanshi">
        <div class="lh_ulHuan">
            <!--<ul>-->
                <!--<li><img src="images/pruduct/earphone/5/1.jpg" height="210" width="210"/></li>-->
                <!--<li class="lh_erjiJG">￥569</li>-->
                <!--<li class="lh_erjiXH">型号:G15Pro</li>-->
                <!--<li class="lh_erjiGM"><a href="">立即购买</a></li>-->
                <!--<li class="lh_shouchang">&#xe795;</li>-->

            <!--</ul>-->
        </div>
    </div>
    </div>
    <!--更多-->
    <div class="lh_bankuai">
    <div class="lh_jPzhuanqu">
        <div class="lh_xiankuang">
            <h3>更多</h3>
            <div class="lh_xian"></div>

        </div>

    </div>
    <div class="lh_zhanshi">
        <div class="lh_ulHuan">
            <!--<ul>-->
                <!--<li><img src="images/pruduct/earphone/5/1.jpg" height="210" width="210"/></li>-->
                <!--<li class="lh_erjiJG">￥569</li>-->
                <!--<li class="lh_erjiXH">型号:G15Pro</li>-->
                <!--<li class="lh_erjiGM"><a href="">立即购买</a></li>-->
                <!--<li class="lh_shouchang">&#xe795;</li>-->

            <!--</ul>-->
        </div>
    </div>
    </div>
</section>
<%-include footer.html%>



<body>
<script src="js/jquery-1.11.3.js"></script>
<script src="js/less.js"></script>
<script>

 var str = window.location.search; 
        str=parseInt(str.slice(1,2))
    if(str>=1&&str<=5){
        $(".lh_fontdiv").eq(str).click();
        $('.lh_bankuai').eq(str).addClass('showclass').siblings().removeClass('showclass')        
    };
    $(".lh_fontdiv").on('click',function (){
     var  a= $(this).index();
        $('.lh_bankuai').eq(a).addClass('showclass').siblings().removeClass('showclass')
        })
    var lh_kg=true
    $("section").on('click',".lh_shouchang",function(){

        console.log("2222222222");
        if(lh_kg){
            $(this).html("&#xe66a;");
            // lh_kg=true
            lh_kg=false
        }else{
            $(this).html("&#xe795;");
            lh_kg=true
        }
    })
    $(".lh_fontSC").on('click',function(){
        if(lh_kg){
            $(this).html("&#xe66a;");
            // lh_kg=true
            lh_kg=false
        }else{
            $(this).html("&#xe795;");
            // lh_kg=false
            lh_kg=true
        }
    })

    //列表请求数据
    function boo(){
        $.ajax({
            type: "post",
            url: "lh_cpfl.do",
            data: '',
            success:function(data){
                var data0=data[0]
                var data1=data[1]
                momo(data0,data1);
                var lh_zhanshi= $(".lh_zhanshi").eq(0)
                var lh_zhanshiq= $(".lh_zhanshi").eq(1)
                var lh_zhanshiw= $(".lh_zhanshi").eq(2)
                var lh_zhanshie= $(".lh_zhanshi").eq(3)
                var lh_zhanshir= $(".lh_zhanshi").eq(4)
                var lh_zhanshit= $(".lh_zhanshi").eq(5)
                var lh_zhanshiy= $(".lh_zhanshi").eq(6)
                for(i=0;i<=data.length;i++){
                    lh_zhanshi.append("<ul><li><img src='"+data[i+2].goods_cover+"' alt='' goods_id='"+data[i].goods_id+"'></li>" +
                        "<li class='lh_erjiJG'>￥"+data[i+2].goods_sale+"</li>" +
                        "<li class='lh_erjiXH'>"+data[i+2].goods_name+"</li>" +
                        "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                        "<li class='lh_shouchang'>&#xe795;</li></ul>")
                    lh_zhanshi.on('click',".lh_erjiGM",function(){
                        var lh_id=$(this).parent().find('img').attr('goods_id')
                        console.log(lh_id)
                        window.location.href="productDetail.html?"+lh_id
                    })
                    if(data[i].goods_class=="键盘"){
                        console.log(data[i].goods_class)
                        lh_zhanshiq.append("<ul><li><img src='"+data[i].goods_cover+"' alt='' goods_id='"+data[i].goods_id+"'></li>" +
                            "<li class='lh_erjiJG'>￥"+data[i].goods_sale+"</li>" +
                            "<li class='lh_erjiXH'>"+data[i].goods_name+"</li>" +
                            "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                            "<li class='lh_shouchang'>&#xe795;</li></ul>")
                        lh_zhanshiq.on('click',".lh_erjiGM",function(){
                            var lh_idq=$(this).parent().find('img').attr('goods_id')
                            console.log(lh_idq)
                            window.location.href="productDetail.html?"+lh_idq
                        })
                    }
                    if(data[i].goods_class=="鼠标"){
                        console.log(data[i].goods_class)
                        lh_zhanshiw.append("<ul><li><img src='"+data[i].goods_cover+"' alt=''goods_id='"+data[i].goods_id+"'></li>" +
                            "<li class='lh_erjiJG'>￥"+data[i].goods_sale+"</li>" +
                            "<li class='lh_erjiXH'>"+data[i].goods_name+"</li>" +
                            "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                            "<li class='lh_shouchang'>&#xe795;</li></ul>")
                        lh_zhanshiw.on('click',".lh_erjiGM",function(){
                            var lh_idw=$(this).parent().find('img').attr('goods_id')
                            console.log(lh_idw);
                            window.location.href="productDetail.html?"+lh_idw
                        })
                    }
                    if(data[i].goods_class=="键帽"){
                        console.log(data[i].goods_class)
                        lh_zhanshie.append("<ul><li><img src='"+data[i].goods_cover+"' alt='' goods_id='"+data[i].goods_id+"'></li>" +
                            "<li class='lh_erjiJG'>￥"+data[i].goods_sale+"</li>" +
                            "<li class='lh_erjiXH'>"+data[i].goods_name+"</li>" +
                            "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                            "<li class='lh_shouchang'>&#xe795;</li></ul>")
                        lh_zhanshie.on('click',".lh_erjiGM",function(){
                            var lh_ide=$(this).parent().find('img').attr('goods_id')
                            console.log(lh_ide)
                            window.location.href="productDetail.html?"+lh_ide
                        })
                    }
                    if(data[i].goods_class=="耳机"){

                        lh_zhanshir.append("<ul><li><img src='"+data[i].goods_cover+"' alt='' goods_id='"+data[i].goods_id+"'></li>" +
                            "<li class='lh_erjiJG'>￥"+data[i].goods_sale+"</li>" +
                            "<li class='lh_erjiXH'>"+data[i].goods_name+"</li>" +
                            "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                            "<li class='lh_shouchang'>&#xe795;</li></ul>")
                        lh_zhanshir.on('click',".lh_erjiGM",function () {

                            var lh_idr=$(this).parent().find('img').attr('goods_id')
                            console.log(lh_idr);
                            window.location.href="productDetail.html?"+lh_idr
                        })
                    }
                    if(data[i].goods_class=="音响"){
                        console.log(data[i].goods_class)
                        lh_zhanshit.append("<ul><li><img src='"+data[i].goods_cover+"' alt='' goods_id='"+data[i].goods_id+"'></li>" +
                            "<li class='lh_erjiJG'>￥"+data[i].goods_sale+"</li>" +
                            "<li class='lh_erjiXH'>"+data[i].goods_name+"</li>" +
                            "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                            "<li class='lh_shouchang'>&#xe795;</li></ul>")
                        lh_zhanshit.on('click',".lh_erjiGM",function () {
                            var lh_idt=$(this).parent().find('img').attr('goods_id')
                            console.log(lh_idt);
                            window.location.href="productDetail.html?"+lh_idt
                        })
                    }
                    if(data[i].goods_class=="更多"){
                        console.log(data[i].goods_class)
                        lh_zhanshiy.append("<ul><li><img src='"+data[i].goods_cover+"' alt='' goods_id='"+data[i].goods_id+"'></li>" +
                            "<li class='lh_erjiJG'>￥"+data[i].goods_sale+"</li>" +
                            "<li class='lh_erjiXH'>"+data[i].goods_name+"</li>" +
                            "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                            "<li class='lh_shouchang'>&#xe795;</li></ul>")
                        lh_zhanshiy.on('click',".lh_erjiGM",function () {
                            var lh_idy=$(this).parent().find('img').attr('goods_id')
                            console.log(lh_idy);
                            window.location.href="productDetail.html?"+lh_idy
                        })
                    }
                }

            }
        });
        function momo(data0,data1){
            $('.lh_jiantxet h2').eq(0).html(data0.goods_name);
            $('.lh_jiantxet p').eq(0).html(data0.goods_discription);
            $('.lh_jianpan img').eq(0).attr('src',data0.goods_cover);
            $('.lh_jiantxet h3').eq(0).html("￥"+data0.goods_sale);

            $('.lh_jiantxet h2').eq(1).html(data1.goods_name);
            $('.lh_jiantxet p').eq(1).html(data1.goods_discription);
            $('.lh_jianpan img').eq(1).attr('src',data1.goods_cover);
            $('.lh_jiantxet h3').eq(1).html("￥"+data1.goods_sale);

        }
    }
    boo();

</script>
</body>
</html>