* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/font_icon/iconfont.eot');
  src: url('../font/font_icon/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/font_icon/iconfont.woff') format('woff'), url('../font/font_icon/iconfont.ttf') format('truetype'), url('../font/font_icon/iconfont.svg#iconfont') format('svg');
}
footer {
  width: 100%;
  height: 255px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 999;
}
footer div:first-child {
  width: 100%;
  height: 15px;
  background-color: #2a2a2a;
}
footer #footer_mid ul {
  width: 80%;
  list-style: none;
  margin: 0 auto;
  margin-top: 25px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
footer #footer_mid ul li {
  flex-direction: row;
}
footer #footer_mid ul li h5 {
  color: white;
}
footer #footer_mid ul li p {
  color: #a6aaac;
  font-size: 13px;
  margin-top: 8px;
  width: 95%;
  max-width: 200px;
  cursor: pointer;
}
footer #footer_mid ul li p button {
  width: 91px;
  background: #ff5d00;
  margin-top: 5px;
  border: none;
  color: white;
  padding: 7px 5px;
  border-radius: 5px;
}
footer #footer_mid ul li input {
  margin-top: 10px;
  width: 80%;
  height: 19px;
  color: #999;
  border: none;
  padding: 3px;
}
footer #footer_mid ul li:first-child {
  margin-left: 6%;
}
footer #footer_mid ul #footer_rss {
  margin-left: 6%;
}
footer #footer_bottom {
  clear: both;
  color: #979797;
  height: 35px;
  border-top: 1px solid #797979;
  width: 65%;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  font-family: "iconfont";
  position: relative;
  top: 10px;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
footer #footer_bottom span:last-child {
  margin-left: 20px;
}
footer #footer_bottom span {
  font-family: "微软雅黑";
}
footer #footer_bottom span span {
  margin-left: 20px;
  font-family: "iconfont";
}
